@font-face {
  font-family: "SF Compact Display";
  src: url("/fonts/sf-compact-display/SFCompactDisplay-Regular.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  --primary-fonts: "SF Compact Display";
  --secondary-fonts: "";
}
html,
body {
  font-family: var(--primary-fonts);
  padding: 0;
  margin: 0;
}
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
/* useful class */
.list-style-none {
  list-style: none;
  padding: 0;
  margin: 0;
  display: block;
}
/* useful class */

/* Header */
.site-header {
  position: sticky;
  top: 0;
  background: #fff;
  z-index: 99;
}
.site-header.is-active {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}
.site-header-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 0px;
}
.site-header-wrapper li {
  display: inline-block;
}

.site-header-wrapper li:not(:last-of-type) {
  margin-right: 60px;
}
.site-header-wrapper li a {
  font-weight: 500;
  font-size: 18px;
  text-align: center;
  color: #203b4e;
}

/* Header */

/* Toggler button menu icon */
.btn-nav-toggler:focus,
.btn-nav-toggler:focus-visible {
  outline: none;
}

.btn-nav-toggler {
  display: none;
  padding: 0px;
  width: 25px;
  height: 20px;
  border: none;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  background-color: transparent;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}
.btn-nav-toggler span {
  width: 100%;
  height: 3px;
  right: 0;
  border-radius: 10px;
  background: #000;
  display: inline-block;
  position: absolute;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

.btn-nav-toggler span:nth-child(1) {
  top: 0;
}

.btn-nav-toggler span:nth-child(2) {
  top: 50%;
  transform: translateY(-50%);
}

.btn-nav-toggler span:nth-child(3) {
  bottom: 0;
}

.btn-nav-toggler.is-active span:nth-child(1) {
  top: calc(50% - 1.45px);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.btn-nav-toggler.is-active span:nth-child(2) {
  opacity: 0;
  right: -60px;
  overflow: hidden;
}

.btn-nav-toggler.is-active span:nth-child(3) {
  bottom: calc(50% - 1.45px);
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

/* Toggler button menu icon */

.footer-logo {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.footer-logo img {
  max-width: 30px;
  width: 100%;
  height: auto;
  display: inline-block;
}
.footer-logo h3 {
  display: inline-block;
  margin-left: 10px;
  font-weight: 700;
  font-size: 14px;
  color: #ffffff;
  margin: 0px 0px 0px 10px;
}

.copy-right-text {
  font-size: 14px;
  color: #d9dbe1;
  margin: 0px 0px 10px 0px;
}

.social-icons {
  margin-top: 20px;
}
.social-icons ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
}
.social-icons ul li {
  display: inline-block;
}
.social-icons ul li:not(:first-child) {
  margin-left: 15px;
}

/* cta-banner */
.cta-banner {
  padding: 70px 0px;
  background: #191919;
  margin: 45px 0px;
  position: relative;
}

.cta-banner .MuiContainer-root > span {
  position: absolute !important;
  top: 5% !important;
  right: 0 !important;
  z-index: 1;
}
.cta-banner h3 {
  font-family: "SF Pro Display";
  font-weight: bold;
  font-size: 62px;
  color: #ffffff;
  margin: 0px 0px 30px 0px;
}

@media (max-width: 992px) {
  .cta-banner h3 {
    padding: 200px 0px 0px 0px;
    text-align: center;
  }
}
@media (max-width: 767px) {
  .cta-banner h3 {
    font-size: 38px;
  }
}

/* cta-banner */

/* our-stats */
.our-stats {
  position: relative;
  background: #191919;
  padding: 50px 0px;
  margin: 50px 0px;
}
.our-stats::before {
  content: "";
  background-image: url("../public/BG.svg");
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-size: cover;
}
.our-stats h3 {
  font-family: "SF Pro Display";
  font-weight: 700;
  font-size: 48px;
  text-align: center;
  color: #ffffff;
  margin: 0px 0px 10px 0px;
}
.our-stats p {
  font-size: 18px;
  text-align: center;
  color: #ffffff;
  padding: 0px 0px 40px 0px;
  margin: 0;
}
.our-stats .MuiGrid-container {
  padding: 40px 0px 0px 0px;
}

.our-stats .MuiGrid-item:not(:first-child) {
  border-left: 1px solid #ffffff;
}
.our-stats .stats-list h4 {
  font-family: "Inter";
  font-weight: 800;
  font-size: 48px;
  text-align: center;
  color: #ffffff;
  margin: 0px 0px 10px 0px;
}
.our-stats .stats-list p {
  font-family: "Inter";
  font-size: 18px;
  text-align: center;
  color: #ffffff;
  margin: 0px 0px 10px 0px;
}
/* our-stats */

@media (max-width: 900px) {
  .our-stats .MuiGrid-item:nth-child(even) {
    border-left: 1px solid #ffffff !important;
  }
  .our-stats .MuiGrid-item:nth-child(odd) {
    border-left: 1px solid transparent !important;
  }
}

@media (max-width: 768px) {
  .header-links-wrapper {
    position: fixed;
    top: 84px;
    right: -100%;
    bottom: 0;
    padding: 40px;
    background: #fff;
    overflow: hidden;
    width: 50%;
    transition: 0.3s ease-in;
  }
  .header-links-wrapper.is-active {
    right: 0%;
  }
  .btn-nav-toggler {
    display: block;
  }
  .site-header-wrapper li {
    display: block;
    text-align: center;
    margin-bottom: 15px;
  }

  .site-header-wrapper li:not(:last-of-type) {
    margin-right: 0px;
  }
  .site-header-wrapper li a {
    font-weight: 500;
    font-size: 24px;
    text-align: center;
    color: #203b4e;
  }
  .our-stats h3,
  .our-stats .stats-list h4 {
    font-size: 30px;
  }
  .our-stats p,
  .our-stats .stats-list p {
    font-size: 16px;
  }
  .our-stats .MuiGrid-container {
    padding: 20px 0px 0px 0px;
  }
}
