/* @font-face {
  font-family: "SF Compact Display";
  src: url("/fonts/sf-compact-display/SFCompactDisplay-Regular.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
} */
/* SF Compact Display */
@font-face {
  font-family: "SF Compact Display";
  src: url("/fonts/sf-compact-display/SFCompactDisplay-Black.woff2")
      format("woff2"),
    url("/fonts/sf-compact-display/SFCompactDisplay-Black.woff") format("woff"),
    url("/fonts/sf-compact-display/SFCompactDisplay-Black.ttf")
      format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SF Compact Display";
  src: url("/fonts/sf-compact-display/SFCompactDisplay-Bold.woff2")
      format("woff2"),
    url("/fonts/sf-compact-display/SFCompactDisplay-Bold.woff") format("woff"),
    url("/fonts/sf-compact-display/SFCompactDisplay-Bold.ttf")
      format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SF Compact Display";
  src: url("/fonts/sf-compact-display/SFCompactDisplay-Regular.woff2")
      format("woff2"),
    url("/fonts/sf-compact-display/SFCompactDisplay-Regular.woff")
      format("woff"),
    url("/fonts/sf-compact-display/SFCompactDisplay-Regular.ttf")
      format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SF Compact Display";
  src: url("/fonts/sf-compact-display/SFCompactDisplay-Medium.woff2")
      format("woff2"),
    url("/fonts/sf-compact-display/SFCompactDisplay-Medium.woff") format("woff"),
    url("/fonts/sf-compact-display/SFCompactDisplay-Medium.ttf")
      format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SF Compact Display";
  src: url("/fonts/sf-compact-display/SFCompactDisplay-Light.woff2")
      format("woff2"),
    url("/fonts/sf-compact-display/SFCompactDisplay-Light.woff") format("woff"),
    url("/fonts/sf-compact-display/SFCompactDisplay-Light.ttf")
      format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SF Compact Display";
  src: url("/fonts/sf-compact-display/SFCompactDisplay-Heavy.woff2")
      format("woff2"),
    url("/fonts/sf-compact-display/SFCompactDisplay-Heavy.woff") format("woff"),
    url("/fonts/sf-compact-display/SFCompactDisplay-Heavy.ttf")
      format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SF Compact Display";
  src: url("/fonts/sf-compact-display/SFCompactDisplay-Thin.woff2")
      format("woff2"),
    url("/fonts/sf-compact-display/SFCompactDisplay-Thin.woff") format("woff"),
    url("/fonts/sf-compact-display/SFCompactDisplay-Thin.ttf")
      format("truetype");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SF Compact Display";
  src: url("/fonts/sf-compact-display/SFCompactDisplay-Ultralight.woff2")
      format("woff2"),
    url("/fonts/sf-compact-display/SFCompactDisplay-Ultralight.woff")
      format("woff"),
    url("/fonts/sf-compact-display/SFCompactDisplay-Ultralight.ttf")
      format("truetype");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SF Compact Display";
  src: url("/fonts/sf-compact-display/SFCompactDisplay-Semibold.woff2")
      format("woff2"),
    url("/fonts/sf-compact-display/SFCompactDisplay-Semibold.woff")
      format("woff"),
    url("/fonts/sf-compact-display/SFCompactDisplay-Semibold.ttf")
      format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

/* SF Compact Display */

/* SF Pro Display */
@font-face {
  font-family: "SF Pro Display";
  src: url("/fonts/sf-pro-display/SFProDisplay-Bold.woff2") format("woff2"),
    url("/fonts/sf-pro-display/SFProDisplay-Bold.woff") format("woff"),
    url("/fonts/sf-pro-display/SFProDisplay-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("/fonts/sf-pro-display/SFProDisplay-Black.woff2") format("woff2"),
    url("/fonts/sf-pro-display/SFProDisplay-Black.woff") format("woff"),
    url("/fonts/sf-pro-display/SFProDisplay-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("/fonts/sf-pro-display/SFProDisplay-BlackItalic.woff2")
      format("woff2"),
    url("/fonts/sf-pro-display/SFProDisplay-BlackItalic.woff") format("woff"),
    url("/fonts/sf-pro-display/SFProDisplay-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("/fonts/sf-pro-display/SFProDisplay-BoldItalic.woff2")
      format("woff2"),
    url("/fonts/sf-pro-display/SFProDisplay-BoldItalic.woff") format("woff"),
    url("/fonts/sf-pro-display/SFProDisplay-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("/fonts/sf-pro-display/SFProDisplay-HeavyItalic.woff2")
      format("woff2"),
    url("/fonts/sf-pro-display/SFProDisplay-HeavyItalic.woff") format("woff"),
    url("/fonts/sf-pro-display/SFProDisplay-HeavyItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("/fonts/sf-pro-display/SFProDisplay-Heavy.woff2") format("woff2"),
    url("/fonts/sf-pro-display/SFProDisplay-Heavy.woff") format("woff"),
    url("/fonts/sf-pro-display/SFProDisplay-Heavy.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("/fonts/sf-pro-display/SFProDisplay-Light.woff2") format("woff2"),
    url("/fonts/sf-pro-display/SFProDisplay-Light.woff") format("woff"),
    url("/fonts/sf-pro-display/SFProDisplay-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("/fonts/sf-pro-display/SFProDisplay-RegularItalic.woff2")
      format("woff2"),
    url("/fonts/sf-pro-display/SFProDisplay-RegularItalic.woff") format("woff"),
    url("/fonts/sf-pro-display/SFProDisplay-RegularItalic.ttf")
      format("truetype");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("/fonts/sf-pro-display/SFProDisplay-Medium.woff2") format("woff2"),
    url("/fonts/sf-pro-display/SFProDisplay-Medium.woff") format("woff"),
    url("/fonts/sf-pro-display/SFProDisplay-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("/fonts/sf-pro-display/SFProDisplay-Regular.woff2") format("woff2"),
    url("/fonts/sf-pro-display/SFProDisplay-Regular.woff") format("woff"),
    url("/fonts/sf-pro-display/SFProDisplay-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("/fonts/sf-pro-display/SFProDisplay-LightItalic.woff2")
      format("woff2"),
    url("/fonts/sf-pro-display/SFProDisplay-LightItalic.woff") format("woff"),
    url("/fonts/sf-pro-display/SFProDisplay-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("/fonts/sf-pro-display/SFProDisplay-MediumItalic.woff2")
      format("woff2"),
    url("/fonts/sf-pro-display/SFProDisplay-MediumItalic.woff") format("woff"),
    url("/fonts/sf-pro-display/SFProDisplay-MediumItalic.ttf")
      format("truetype");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("/fonts/sf-pro-display/SFProDisplay-Semibold.woff2") format("woff2"),
    url("/fonts/sf-pro-display/SFProDisplay-Semibold.woff") format("woff"),
    url("/fonts/sf-pro-display/SFProDisplay-Semibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("/fonts/sf-pro-display/SFProDisplay-Ultralight.woff2")
      format("woff2"),
    url("/fonts/sf-pro-display/SFProDisplay-Ultralight.woff") format("woff"),
    url("/fonts/sf-pro-display/SFProDisplay-Ultralight.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("/fonts/sf-pro-display/SFProDisplay-UltralightItalic.woff2")
      format("woff2"),
    url("/fonts/sf-pro-display/SFProDisplay-UltralightItalic.woff")
      format("woff"),
    url("/fonts/sf-pro-display/SFProDisplay-UltralightItalic.ttf")
      format("truetype");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("/fonts/sf-pro-display/SFProDisplay-ThinItalic.woff2")
      format("woff2"),
    url("/fonts/sf-pro-display/SFProDisplay-ThinItalic.woff") format("woff"),
    url("/fonts/sf-pro-display/SFProDisplay-ThinItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("/fonts/sf-pro-display/SFProDisplay-Thin.woff2") format("woff2"),
    url("/fonts/sf-pro-display/SFProDisplay-Thin.woff") format("woff"),
    url("/fonts/sf-pro-display/SFProDisplay-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("/fonts/sf-pro-display/SFProDisplay-SemiboldItalic.woff2")
      format("woff2"),
    url("/fonts/sf-pro-display/SFProDisplay-SemiboldItalic.woff") format("woff"),
    url("/fonts/sf-pro-display/SFProDisplay-SemiboldItalic.ttf")
      format("truetype");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

/* SF Pro Display */

:root {
  --primary-fonts: "SF Compact Display";
  --secondary-fonts: "SF Pro Display";
  --secondary--color: #640e27;
}
html {
  scroll-behavior: smooth;
}

html,
body {
  font-family: var(--primary-fonts);
  padding: 0;
  margin: 0;
}
a {
  color: inherit;
  text-decoration: none;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
.site-main {
  height: calc(100vh - 84px);
  overflow-y: auto;
  scroll-snap-type: y mandatory;
  -webkit-overflow-scrolling: touch;
}
.site-section {
  height: calc(100vh - 84px);
  scroll-snap-align: start;
  display: flex;
  align-items: center;
}
@media (max-width: 768px) {
  .site-main {
    height: unset;
    overflow-y: auto;
    scroll-snap-type: y mandatory;
    -webkit-overflow-scrolling: touch;
  }
  .site-section {
    height: unset;
    scroll-snap-align: start;
  }
}

* {
  box-sizing: border-box;
}
/* useful class */
.d-flex {
  display: flex;
}
.overflow-hidden {
  overflow: hidden;
}
.align-items-center {
  align-items: center;
}
.list-style-none {
  list-style: none;
  padding: 0;
  margin: 0;
  display: block;
}
.position-relative {
  position: relative;
  z-index: 1;
}

.flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.flex-container button {
  margin: 0px 0px 0px auto !important;
}
.backdrop {
  position: fixed;
  right: 0;
  bottom: 0;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  transition: 0.3s ease;
}

.primary-btn {
  background-color: #f7f3d0 !important;
  border: 1px solid #f7f3d0 !important;
  color: var(--secondary--color) !important;
  font-family: var(--secondary-fonts) !important;
}
.primary-btn.Mui-disabled {
  color: var(--secondary--color) !important;
  opacity: 0.4 !important;
}
.primary-btn:hover {
  background-color: #f7f3d0 !important;
}
.secondary-btn {
  border: 1px solid rgba(63, 81, 181, 0.5) !important;
  background-color: #fff !important;
  color: rgba(19, 19, 19, 0.87) !important;
  font-family: var(--secondary-fonts) !important;
}
.secondary-btn:hover {
  background-color: #fff !important;
}
.text-right {
  text-align: right;
}

.order-1 {
  order: 1;
}
.order-2 {
  order: 2;
}

@media (max-width: 992px) {
  .order-md-1 {
    order: 1 !important;
  }
  .order-md-2 {
    order: 2 !important;
  }
}

/* useful class */

/* Header */
.site-header {
  position: sticky;
  width: 100%;
  top: 0;
  background: #fff;
  z-index: 99;
  transition: 0.3s ease;
}
.site-header.is-active {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  transition: 0.3s ease;
}
.site-header.is-active .header-links-wrapper {
  top: 73px;
}

.site-header.fixed {
  position: fixed !important;
  background: transparent;
}

.site-header-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 0px;
  transition: 0.3s ease;
}
.site-header.is-active .site-header-wrapper {
  padding: 10px 0px;
}
.site-header-wrapper li {
  display: inline-block;
}

.site-header-wrapper li:not(:last-of-type) {
  margin-right: 60px;
}
.site-header-wrapper li a {
  font-weight: 500;
  font-size: 18px;
  text-align: center;
  /* color: #203b4e; */
  color: #191919;
}
.site-nav ul li a::after {
  content: "";
  width: 0%;
  height: 2px;
  border-radius: 2px;
  display: block !important;
  background: #191919;
  transition: 0.3s ease-in-out;
}
.site-nav ul li:hover a::after {
  content: "";
  width: 100%;
  height: 2px;
  border-radius: 2px;
  display: block !important;
  background: var(--secondary--color);
  transition: 0.3s ease-in-out;
}
.site-nav ul li a.is-active {
  color: var(--secondary--color);
}
.site-nav ul li a.is-active::after {
  width: 100%;
  background: var(--secondary--color);
}

/* Header */

/* Toggler button menu icon */
.btn-nav-toggler:focus,
.btn-nav-toggler:focus-visible {
  outline: none;
}

.btn-nav-toggler {
  display: none;
  padding: 0px;
  width: 25px;
  height: 20px;
  border: none;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  background-color: transparent;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}
.btn-nav-toggler span {
  width: 100%;
  height: 3px;
  right: 0;
  border-radius: 10px;
  background: #191919;
  display: inline-block;
  position: absolute;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

.btn-nav-toggler span:nth-child(1) {
  top: 0;
}

.btn-nav-toggler span:nth-child(2) {
  top: 50%;
  transform: translateY(-50%);
}

.btn-nav-toggler span:nth-child(3) {
  bottom: 0;
}

.btn-nav-toggler.is-active span:nth-child(1) {
  top: calc(50% - 1.45px);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.btn-nav-toggler.is-active span:nth-child(2) {
  opacity: 0;
  right: -60px;
  overflow: hidden;
}

.btn-nav-toggler.is-active span:nth-child(3) {
  bottom: calc(50% - 1.45px);
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

/* Toggler button menu icon */

.footer-logo {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.footer-logo img {
  max-width: 30px;
  width: 100%;
  height: auto;
  display: inline-block;
}
.footer-logo h3 {
  display: inline-block;
  margin-left: 10px;
  font-weight: 700;
  font-size: 14px;
  color: #ffffff;
  margin: 0px 0px 0px 10px;
}

.copy-right-text {
  font-size: 14px;
  color: #d9dbe1;
  margin: 0px 0px 10px 0px;
}

.social-icons {
  margin-top: 20px;
}
.social-icons ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
}
.social-icons ul li {
  display: inline-block;
}
.social-icons ul li:not(:first-child) {
  margin-left: 15px;
}

/* landign-section */
.landign-section {
  padding: 50px 0px;
  margin: 50px 0px;
  position: relative;
}
/* .landign-section::before {
  content: " ";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-image: url("../public/heroImg.png");
  background-repeat: no-repeat;
  background-position: center left;
  z-index: -1;
} */
.landign-section .MuiContainer-root .MuiGrid-item > span {
  position: absolute !important;
  top: 50% !important;
  transform: translateY(-50%);
  left: 0 !important;
  z-index: 1;
}
.landign-section h3 {
  font-weight: bold;
  font-size: 80px;
  line-height: 75px;
  color: #191919;
  margin: 0px 0px 40px 0px;
  max-width: 420px;
}
.landign-section h3 span {
  position: relative;
  display: inline-block;
}
.landign-section h3 span::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: url("../public/yellowCircle.svg") no-repeat center center;
  background-size: contain;
  z-index: -1;
}
.landign-section p {
  font-size: 20px;
  line-height: 30px;
  color: #5c5c5c;
  margin: 0px 0px 50px 0px;
  max-width: 420px;
}
@media (max-width: 1200px) {
  .landign-section .MuiContainer-root .MuiGrid-item > span {
    position: absolute !important;
    transform: none;
    top: 0% !important;
  }
  .landign-section .position-relative {
    padding-top: 50%;
  }
  .landign-section h3 {
    margin: 0px auto 40px auto;
    max-width: 800px;
    text-align: center;
  }
  .landign-section p {
    margin: 0px auto 50px auto;
    max-width: 700px;
    text-align: center;
  }
  .landign-section button {
    margin: 0 auto;
  }
}
@media (max-width: 768px) {
  .landign-section h3 {
    font-size: 50px;
    margin-bottom: 10px;
    line-height: normal;
  }
  .landign-section p {
    margin-bottom: 30px;
  }
}
@media (max-width: 576px) {
  .landign-section h3 {
    font-size: 34px;
    margin-bottom: 10px;
  }
  .landign-section p {
    font-size: 18px;
    margin-bottom: 30px;
  }
}
/* landign-section */

/* cta-banner */
.cta-banner {
  padding: 70px 0px;
  background: #191919;
  margin: 45px 0px;
  position: relative;
}

.cta-banner .MuiContainer-root > span {
  position: absolute !important;
  top: 5% !important;
  right: 0 !important;
  z-index: 1;
}
.cta-banner h3 {
  font-family: var(--secondary-fonts);
  font-weight: bold;
  font-size: 62px;
  color: #ffffff;
  margin: 0px 0px 30px 0px;
}

@media (max-width: 992px) {
  .cta-banner h3 {
    padding: 200px 0px 0px 0px;
    text-align: center;
  }
  .section-title {
    font-size: 28px;
  }
}
@media (max-width: 767px) {
  .cta-banner h3 {
    font-size: 38px;
    padding: 130px 0px 0px 0px;
  }
  .cta-banner .MuiContainer-root > span {
    width: 150px !important;
  }
  .section-title {
    font-size: 24px;
  }
}

/* cta-banner */

/* our-stats */
.our-stats {
  position: relative;
  background: #191919;
  padding: 50px 0px;
  margin: 50px 0px;
  width: 100%;
}
.our-stats::before {
  content: "";
  background-image: url("../public/BG.svg");
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-size: cover;
}
.our-stats h3 {
  font-family: var(--secondary-fonts);
  font-weight: 700;
  font-size: 48px;
  text-align: center;
  color: #ffffff;
  margin: 0px 0px 10px 0px;
}
.our-stats p {
  font-size: 18px;
  text-align: center;
  color: #ffffff;
  padding: 0px 0px 40px 0px;
  margin: 0;
}
.our-stats .MuiGrid-container {
  padding: 40px 0px 0px 0px;
}

.our-stats .MuiGrid-item:not(:first-child) {
  border-left: 1px solid #ffffff;
}
.our-stats .stats-list h4 {
  font-family: var(--secondary-fonts);
  font-weight: 800;
  font-size: 48px;
  text-align: center;
  color: #ffffff;
  margin: 0px 0px 10px 0px;
}
.our-stats .stats-list p {
  font-size: 18px;
  text-align: center;
  color: #ffffff;
  margin: 0px 0px 10px 0px;
}
/* our-stats */

/* how-it-works */
.how-it-works {
  margin: 50px 0px;
  padding: 100px 0px;
  background-image: url("../public/bgPatter2.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}
.how-it-works h3 {
  font-family: var(--secondary-fonts);
  font-weight: 900;
  font-size: 48px;
  text-align: center;
  color: #18191f;
  margin: 0px 0px 40px 0px;
}
.how-it-works h4 {
  font-weight: 700;
  text-align: center;
  margin: 10px 0px;
  font-size: 30px;
  color: #640e27;
}
.how-it-works p {
  font-size: 16px;
  text-align: center;
  margin: 0px 0px 10px 0px;
  font-weight: 300;
  color: #191919;
}

/* how-it-works */

/* latest arrivals */
.latest-arrival {
  padding: 50px 0px;
  margin: 50px 0px;
  background-image: url("../public/bgPatter2.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.section-title {
  font-family: var(--secondary-fonts);
  font-weight: 700;
  font-size: 50px;
  color: #191919;
  margin: 0px;
}
.section-title span {
  position: relative;
  display: inline-block;
  padding: 5px 10px;
}
.section-title span:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: url("../public/yellowCircle.svg") no-repeat center center;
  background-size: contain;
  z-index: -1;
}
.flex-container {
  margin-bottom: 36px;
}
.car-listing .flex-container {
  align-items: baseline;
}
/* latest arrivals */

/* cars-cards component */
.cars-cards {
  background: #ffffff;
  filter: none;
  border-radius: 12px;
  overflow: hidden;
  border: 1px solid lightgray;
  cursor: pointer;
  box-shadow: none;
  transition: 0.5s ease;
  min-height: 457px;
}
.cars-cards:hover {
  border-color: transparent;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}
.cars-cards.card2 {
  transition: 0.5s ease-in-out;
}
.cars-cards.card2:hover {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.cars-cards .content {
  padding: 12px;
}
.cars-cards h4 {
  font-family: var(--secondary-fonts);
  font-weight: 700;
  font-size: 20px;
  color: #191919;
  margin: 0px 0px 15px 0px;
}

.cars-cards > span {
  display: block !important;
  margin-bottom: 8px !important;
}
.cars-cards img {
  object-fit: cover !important;
}

.cars-cards .car-summary-header {
  font-weight: 300;
  font-size: 14px;
  color: #5c5c5c;
  margin: 0px 0px 10px 0px;
}

.cars-cards .car-summary {
  display: block;
  font-weight: 700;
  font-size: 14px;
  color: #5c5c5c;
  margin: 0px;
}

.cars-cards .price {
  font-family: var(--secondary-fonts);
  font-weight: 700;
  font-size: 22px;
  color: #191919;
  margin: 0px;
}

.cars-cards button {
  margin-left: auto;
  margin-right: 0px;
}

@media (max-width: 1100px) {
  .cars-cards h4 {
    font-size: 20px;
  }
}
@media (max-width: 992px) {
  .primary-btn {
    padding: 8px 20px;
  }
}
/* cars-cards component */

/* car-listing */
.car-listing {
  padding: 50px 0px;
}
@media (max-width: 576px) {
  .car-listing {
    padding: 0px 0px 30px 0px;
  }
  .cars-cards button {
    margin: 0px 0px 0px auto !important;
  }
}
/* car-listing */

/* filter-wrapper */
.filter-wrapper {
  position: relative;
  height: 100%;
}
.filter-wrapper h4 {
  font-family: var(--secondary-fonts);
  font-weight: 700;
  font-size: 32px;
  letter-spacing: 0.15px;
  color: #272833;
  margin: 0;
}
.drawer-header-with-icon {
  display: flex;
  align-items: center;
  margin: 0px;
  padding: 15px 20px;
  border-bottom: 1px solid #dedede;
}
.drawer-header-with-icon button {
  padding: 0px;
  display: inline-block;
  margin-right: 10px;
  height: 29px;
  width: 29px;
}
.filter {
  padding: 20px 20px 0px 20px;
}
.filter h5 {
  font-family: var(--secondary-fonts);
  font-weight: 500;
  font-size: 20px;
  color: #272833;
  margin: 0px 0px 15px 0px;
}
.filter-list {
  padding-left: 0;
  list-style: none;
  display: inline;
}
.filter-list li:not(:last-child) {
  padding: 0 15px 0 0;
}
.filter-list li {
  display: inline-flex;
  position: relative;
  margin-right: 0;
}
.filter-list input[type="radio"],
.filter-list input[type="checkbox"] {
  width: 0px;
  height: 0px;
  position: absolute;
}
.filter-list input[type="radio"]:checked + label,
.filter-list input[type="checkbox"]:checked + label {
  color: #fff;
  background-color: var(--secondary--color);
}
.filter-list label {
  background: #eeeeee;
  border-radius: 11.5667px;
  padding: 4px 8px;
  font-size: 12px;
  font-weight: 500;
  color: #272833;
  text-align: center;
  transition: 0.2s cubic-bezier(0.75, 0.25, 0.25, 0.75), color 0.2s ease;
}
.filter-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 20px;
  margin-top: 20px;
  border-top: 1px solid #dedede;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
}
/* filter-wrapper */

/* Faq section */
.faq-section {
  padding: 50px 0px;
  margin: 0px 0px 50px 0px;
}
.faq-section h3.faq-section-title {
  font-family: var(--secondary-fonts);
  font-weight: 700;
  font-size: 50px;
  color: #191919;
  text-transform: uppercase;
  margin: 0px 0px 30px 0px;
  position: relative;
  padding-left: 20px;
}

.faq-section h3.faq-section-title::before {
  content: "";
  background: url("../public/yellow-circle-2.svg") no-repeat center left;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  height: 72px;
  width: 450px;
  z-index: -1;
}

.faq-wrapper ul.faq-list {
  list-style: none;
  background: #ffffff;
  box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.15);
  padding-left: 0;
  margin-left: 0;
}
.faq-wrapper ul.faq-list li {
  display: flex;
  align-items: center;
  font-size: 16px;
  color: #191919;
  padding: 24px 40px 24px 50px;
  position: relative;
  cursor: pointer;
  transition: 0.3s ease;
  max-width: 100%;
  min-width: unset;
  min-height: unset;
  flex-direction: row;
  justify-content: flex-start;
  text-align: left;
}
.faq-wrapper ul.faq-list li span {
  display: none !important;
}
.faq-wrapper ul.faq-list .MuiTabs-scroller > span {
  display: none;
}
.faq-wrapper ul.faq-list .MuiTabs-flexContainer {
  display: block;
}
.faq-wrapper ul.faq-list li:not(:last-child) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}
.faq-wrapper ul.faq-list li::before {
  content: " ";
  background: rgba(100, 14, 39, 0.65);
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
  margin-right: 16px;
  transition: 0.3s ease;
  position: absolute;
  left: 16px;
}

.faq-wrapper ul.faq-list li::after {
  content: "";
  width: 10px;
  height: 10px;
  position: absolute;
  right: 24px;
  /* top: 50%; */
  border-radius: 2px;
  transform: rotate(135deg);
  border-top: 2px solid #a5a6f6;
  border-left: 2px solid #a5a6f6;
  transition: 0.3s ease;
}

.faq-wrapper ul.faq-list li:hover,
.faq-wrapper ul.faq-list li[aria-selected="true"] {
  background: #fafbff;
}
.faq-wrapper ul.faq-list li:hover:after,
.faq-wrapper ul.faq-list li[aria-selected="true"]:after {
  border-top: 2px solid var(--secondary--color);
  border-left: 2px solid var(--secondary--color);
}

.faq-wrapper ul.faq-list li:hover::before,
.faq-wrapper ul.faq-list li[aria-selected="true"]:before {
  background: var(--secondary--color);
}

.tab-content {
  background: #fafbff;
  box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.15);
  border-radius: 16px;
  padding: 40px 30px 40px 140px;
  position: absolute;
  left: -20%;
  right: 0;
  height: fit-content;
  top: 50%;
  transform: translateY(-50%);
  bottom: 0;
  z-index: -1;
}
.tab-content h4 {
  font-family: var(--secondary-fonts);
  font-weight: 700;
  font-size: 18px;
  color: #18191f;
  padding: 0px;
  margin-bottom: 40px;
}
.tab-content p {
  font-size: 16px;
  color: #191919;
}
.faq-accordion-wrapper .MuiPaper-root.Mui-expanded {
  margin: 0px;
}
.faq-accordion-wrapper h5 {
  font-size: 16px;
  color: #191919;
  margin: 0;
  font-weight: normal;
  padding-left: 35px;
  display: flex;
  align-items: center;
}
.faq-accordion-wrapper h5::before {
  content: " ";
  background: rgba(100, 14, 39, 0.65);
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
  margin-right: 16px;
  transition: 0.3s ease;
  position: absolute;
  left: 16px;
}
.faq-accordion-wrapper .MuiAccordionSummary-root:hover,
.faq-accordion-wrapper .MuiAccordionSummary-root.Mui-expanded {
  background: #fafbff;
}
.faq-accordion-wrapper .MuiAccordionSummary-root:hover h5::before,
.faq-accordion-wrapper .MuiAccordionSummary-root.Mui-expanded h5::before {
  background: var(--secondary--color);
}
.faq-accordion-wrapper .MuiAccordionSummary-root .MuiAccordionSummary-content {
  margin: 0px;
  padding: 24px 0px;
}
.faq-accordion-wrapper .MuiAccordionSummary-root:hover svg,
.faq-accordion-wrapper .MuiAccordionSummary-root.Mui-expanded svg {
  color: var(--secondary--color);
}
.faq-accordion-wrapper .MuiAccordionSummary-root svg {
  color: #a5a6f6;
}
/* Faq section */

/* page-not-found */
.page-not-found {
  position: relative;
  /* background: url("../public/404.svg") no-repeat; */
  width: 100%;
  /* background-position: 0 0; */
  /* background-size: 100% 100%; */
  height: 100vh;
  background: #f7f3d0;
}

/* page-not-found */

/* Book Trail */
.book-trail {
  padding: 50px 0px;
  margin-bottom: 50px;
}
.book-trail h3 {
  font-family: var(--secondary-fonts);
  font-weight: 700;
  font-size: 50px;
  color: #191919;
  text-transform: capitalize;
  margin: 0px 0px 30px 0px;
  position: relative;
  padding-left: 20px;
}

.book-trail h3::before {
  content: "";
  background: url("../public/yellow-circle-2.svg") no-repeat center left;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  height: 72px;
  width: 450px;
  z-index: -1;
}
.book-trail h5 {
  font-weight: 400;
  font-size: 34.7px;
  color: #203b4e;
  margin: 0px 0px 30px 0px;
}

.book-trail .MuiInput-root {
  background: #ffffff;
  border: 1px solid #d5d4dc;
  box-sizing: border-box;
  border-radius: 8px;
  padding: 12px 12px 12px 19px;
  margin-top: 20px;
}
.book-trail .MuiFormControl-root {
  max-width: 330px;
  width: 100%;
}
.book-trail .MuiFormControl-root.MuiFormControl-fullWidth {
  max-width: 100%;
}
.book-trail input {
  font-weight: 500;
  font-size: 16px;
  color: #8b849b;
  margin-left: 16px;
}
.book-trail .light-text {
  font-size: 12px;
  line-height: 16px;
  color: rgba(0, 0, 0, 0.6);
}
.book-trail .MuiInput-root::before,
.book-trail .MuiInput-root::after {
  display: none;
}

.MuiFormControl-root label {
  font-weight: 400 !important;
  font-size: 16px !important;
  color: rgba(0, 0, 0, 0.87) !important;
}
.bold-label {
  font-weight: 700 !important;
  font-size: 14px !important;
  color: #10002e !important;
  margin-bottom: 10px !important;
  text-transform: capitalize !important;
}
.MuiFilledInput-root::before,
.MuiFilledInput-root::after {
  display: none;
}
.otp-wrapper {
  max-width: 360px;
}

.car-form.is-active {
  max-width: 360px !important;
}
.otp-wrapper h6 {
  font-size: 18px;
  font-weight: normal;
  color: #203b4e;
  margin: 0px 0px 24px 0px;
}
.otpContainer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}
.otpContainer input {
  max-width: 40px;
  width: 100%;
  height: 55px;
  background: rgba(33, 33, 33, 0.08);
  border-radius: 4px 4px 0px 0px;
  border: 0;
  text-align: center;
  margin: 0px;
}
input:focus,
input:focus-visible {
  outline: none;
}

@media (max-width: 768px) {
  .book-trail h3 {
    font-size: 50px;
  }
  .book-trail h3::before {
    content: "";
    width: 300px;
    background-size: contain;
  }
}
@media (max-width: 576px) {
  .book-trail {
    padding: 0px 0px 30px 0px;
  }
  .book-trail h3 {
    font-size: 24px;
    margin: 0px 0px 20px 0px;
  }
  .book-trail h3::before {
    content: "";
    width: 150px;
    background-size: contain;
  }
  .book-trail h5 {
    font-size: 24px;
    margin: 0px 0px 20px 0px;
  }
}
/* Book Trail */

/* Car Detail */
.car-detail {
  padding: 50px 0px 0px 0px;
}
@media (min-width: 768px) {
  .car-detail {
    padding: 50px 0px 120px 0px;
  }
}
.car-detail h3 {
  font-family: var(--secondary-fonts);
  font-weight: 700;
  font-size: 50px;
  color: #191919;
  margin: 0px 0px 24px 0px;
  position: relative;
}
.car-detail h3::before {
  content: "";
  background: url("../public/yellow-circle-2.svg") no-repeat center left;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  height: 72px;
  width: 450px;
  z-index: -1;
}
.car-detail-img {
  display: block;
  /* max-width: calc(100% - 80px); */
  margin: 15px 15px 30px 15px;

  overflow: hidden;
  height: 400px;
}
.car-detail-img img {
  border-radius: 12px;
  object-fit: cover;
}
.car-detail-img > span {
  width: 100% !important;
  height: 100% !important;
}
.car-detail h6 {
  font-family: var(--secondary-fonts);
  font-weight: 700;
  font-size: 24px;
  color: #191919;
  margin: 0px;
}
.accordion-wrapper {
  background: #ffffff;
  box-shadow: 0px 1px 4px rgba(37, 42, 49, 0.16),
    0px 4px 8px rgba(37, 42, 49, 0.12);
  border-radius: 12px;
}
.car-detail .flex-container {
  margin-bottom: 20px;
}
.accordion-wrapper .MuiAccordion-root {
  background: #ffffff;
}
.accordion-wrapper .MuiAccordion-root.Mui-expanded {
  margin: 0px;
}
.accordion-wrapper .MuiAccordion-root.Mui-expanded::before {
  opacity: 1 !important;
}
.accordion-wrapper {
  margin: 20px 0px 120px 0px;
}
.accordion-wrapper h5 {
  font-weight: 500;
  font-size: 14px;
  color: #252a31;
  margin: 0px;
}
.accordion-wrapper .MuiAccordionDetails-root {
  padding: 12px 0px;
  border-top: 1px solid #e8edf1;
}
.accordion-wrapper .MuiAccordionDetails-root .accordion-content {
  background: rgba(247, 243, 208, 0.31);
  max-width: calc(100% - 40px);
  margin: 0px auto;
  padding: 10px;
}
.accordion-wrapper .MuiAccordionDetails-root .accordion-content p {
  margin: 0px;
  font-size: 14px;
  color: #191919;
}
.accordion-content table {
  border: none;
}
.accordion-wrapper table tr {
  display: block;
  margin-bottom: 20px;
}
.accordion-content table th {
  font-weight: 300;
  min-width: 150px;
  font-size: 14px;
  color: #5c5c5c;
  text-align: left;
}
.accordion-wrapper table td {
  font-family: var(--secondary-fonts);
  font-weight: 700;
  font-size: 14px;
  color: #5c5c5c;
  text-align: right;
}
@media (max-width: 900px) {
  .car-detail h3 {
    font-size: 50px;
  }
  .car-detail button {
    margin: 0 0 0 auto !important;
  }
  .car-detail h3::before {
    width: 300px;
    background-size: contain;
  }
  .car-detail .car-detail-img {
    margin: 0 auto 30px auto;
  }
  .car-detail-img + button {
    margin: 0 0 0 auto;
  }
}

/* Car Detail */

/* make an offer cta */
.make-offer-cta {
  background: #0b0d17;
  padding: 30px 0px;
  position: fixed;
  width: 100%;
  bottom: 0;
  /* margin: 20px 0px; */
}
.make-offer-cta h4 {
  font-family: var(--secondary-fonts);
  font-weight: 700;
  font-size: 36px;
  margin: 0px;
  color: #f7f3d0;
}
.make-offer-cta .flex-container {
  margin-bottom: 0px;
}

@media (max-width: 768px) {
  .make-offer-cta {
    position: unset;
  }
  .make-offer-cta h4 {
    font-size: 24px;
  }
  .car-detail h3 {
    font-size: 30px;
  }
  .car-detail h3::before {
    width: 200px;
    background-size: contain;
  }
}
@media (max-width: 576px) {
  .make-offer-cta .flex-container {
    display: block;
  }
  .make-offer-cta h4 {
    font-size: 22px;
    margin-bottom: 15px;
  }
  .car-detail-img {
    max-width: 100%;
  }
  .car-detail h3 {
    padding-left: 10px;
    font-size: 24px;
  }
  .car-detail h3::before {
    width: 150px;
    background-size: contain;
  }
  .book-trail,
  .car-listing {
    padding: 10px 0px 30px 0px;
  }
}
/* make an offer cta */

@media (max-width: 992px) {
  .section-title {
    font-size: 28px;
  }
}
@media (max-width: 900px) {
  .our-stats .MuiGrid-item:nth-child(even) {
    border-left: 1px solid #ffffff !important;
  }
  .our-stats .MuiGrid-item:nth-child(odd) {
    border-left: 1px solid transparent !important;
  }
  .cars-cards .price {
    font-size: 22px;
  }
}

@media (max-width: 768px) {
  .cars-cards .price {
    font-size: 20px;
  }
  .header-links-wrapper {
    position: fixed;
    top: 84px;
    right: -100%;
    bottom: 0;
    padding: 40px;
    background: #fafafa;
    overflow: hidden;
    width: 100%;
    transition: 0.3s ease-in;
  }
  .header-links-wrapper.is-active {
    right: 0%;
  }
  .our-stats .MuiGrid-item:nth-child(even) {
    border-left: none !important;
  }
  .our-stats .MuiGrid-item:not(:last-child) {
    border-bottom: 1px solid #fff !important;
  }
  .btn-nav-toggler {
    display: block;
  }
  .site-header-wrapper li {
    display: block;
    text-align: center;
    margin-bottom: 15px;
  }

  .site-header-wrapper li:not(:last-of-type) {
    margin-right: 0px;
  }
  .site-header-wrapper li a {
    display: inline-block;
    font-weight: 500;
    font-size: 24px;
    text-align: center;
    color: #203b4e;
    position: relative;
  }

  .our-stats h3,
  .our-stats .stats-list h4 {
    font-size: 30px;
  }
  .our-stats p,
  .our-stats .stats-list p {
    font-size: 16px;
  }
  .our-stats .MuiGrid-container {
    padding: 20px 0px 0px 0px;
  }
  .how-it-works h3 {
    font-size: 38px;
  }
  .how-it-works h4 {
    font-size: 20px;
  }
  .flex-container {
    margin-bottom: 20px;
  }
  .section-title {
    font-size: 24px;
  }
}
@media (max-width: 567px) {
  .filter-wrapper h4 {
    font-size: 24px;
    padding: 15px;
  }
  .our-stats .stats-list p {
    margin: 0px;
    padding: 0px 0px 20px 0px;
  }
  .our-stats .MuiGrid-item {
    padding: 0px;
  }
  .filter h5 {
    font-size: 16px;
  }
  .filter {
    padding: 15px 15px 0px 15px;
  }
  .how-it-works h3 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  .how-it-works {
    padding: 30px 0px;
  }
}

/* test css */
.car-detail-container {
  height: 300px;
  overflow-y: auto;
  scroll-snap-type: y mandatory;
  -webkit-overflow-scrolling: touch;
}
.car-details-info {
  /* padding: 20px 0px; */
  height: 100%;
  font-size: 2rem;
  scroll-snap-align: start;
}
.car-details-info .car-info h6 {
  font-weight: 300;
  font-size: 14px;
  color: #5c5c5c;
  margin: 0px 0px 9px 0px;
}
.car-details-info .car-info p {
  font-family: var(--secondary-fonts);
  font-weight: 700;
  font-size: 14px;
  color: #5c5c5c;
  margin: 0px;
}
.car-details-info .car-info {
  margin-bottom: 20px;
}

.uploadfile {
  -webkit-appearance: none;
  position: relative;
  z-index: 2;
  cursor: pointer;
  font-size: 0px !important;
  width: 100%;
  height: 260px;
  margin: 0px !important;
}

::file-selector-button {
  display: none;
}
.upload-file-container {
  background: #fffef3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 12px;
  position: relative;
  max-width: 620px;
}
.select-file {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  background: #fffcde;
  border-radius: 0px 0px 12px 12px;
  padding: 20px 30px;
  font-size: 18px;
}
.select-file span {
  color: var(--secondary--color);
}
.upload-file-logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.upload-file-logo p {
  font-size: 18px;
  text-align: center;
  color: #191919;
  margin: 24px 0px 0px 0px;
}

/* test css */
.page-not-found {
  padding-top: 88px;
  position: relative;
  overflow: hidden;
}
.page-not-found .content {
  position: relative;
  z-index: 1;
}
.page-not-found h1 {
  font-family: var(--secondary-fonts);
  font-weight: 700;
  font-size: 64px;
  text-align: right;
  max-width: 560px;
  color: #191919;
  margin: 0 0 0 auto;
}
.page-not-found .icon404-wrapper {
  max-width: 1000px;
  position: absolute;
  left: -25%;
  bottom: -60%;
}
.polygon-wrapper {
  position: absolute;
  top: 0;
  right: 0;
}

@media (max-width: 992px) {
  .page-not-found .icon404-wrapper {
    max-width: 700px;
    position: absolute;
    left: -25%;
    bottom: -40%;
  }
  .page-not-found h1 {
    font-size: 50px;
  }
  .page-not-found button {
    margin: 0 0 0 auto;
  }
  .polygon-wrapper {
    max-width: 300px;
    position: absolute;
    top: 0;
    right: 0;
  }
  .page-not-found {
    padding-top: 100px;
  }
  @media (max-width: 576px) {
    .page-not-found h1 {
      font-size: 34px;
    }
    .page-not-found {
      padding-top: 200px;
    }
    .page-not-found .icon404-wrapper {
      max-width: 800px;
      position: absolute;
      left: -65%;
      bottom: -35%;
    }
  }
}

.error {
  font-size: 12px;
  color: tomato;
}

.filter-chips {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 10px 0px 20px 0px;
}

@media (max-width: 576px) {
  .filter-chips {
    flex-wrap: nowrap;
    overflow: auto;
    margin: 10px 0px 20px 0px;
  }
  .how-it-works h4 {
    font-size: 18px;
  }
  .how-it-works p {
    font-size: 14px;
  }
  .latest-arrival,
  .how-it-works {
    margin: 0px;
  }
  .car-detail h3 {
    margin: 0px 0px 20px 0px;
  }
  .car-detail .car-detail-img {
    margin: 0px 0px 20px 0px;
  }
  .car-detail-img + button {
    margin: 0 0 0 auto !important;
  }
  .faq-section h3.faq-section-title {
    font-size: 24px;
    margin: 0px 0px 20px;
  }

  .faq-section h3.faq-section-title::before {
    content: "";
    background: url(/_next/static/media/yellow-circle-2.9b7edf38.svg) no-repeat
      center left;
    background-size: contain;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    height: 72px;
    width: 150px;
    z-index: -1;
  }
  .accordion-content {
    font-size: 14px;
  }
  .faq-section {
    padding: 0px;
  }
}

/* slick slider css */
.slick-prev, .slick-next{
  z-index: 2;
}
.slick-prev:before,
.slick-next:before {
  content: "" !important;
  font-family: unset !important;
  width: 25px;
  height: 25px;
  margin: 0 auto;
  display: block;
  border-radius: 2px;
  /* border: 2px solid rgba(225, 225, 225, .75); */
}

.slick-next:before {
  transform: rotate(135deg);
  border-top: 3px solid #fff !important;
  border-left: 3px solid #fff !important;
}
.slick-prev {
  left: 5% !important;
}
.slick-next {
  right: 5% !important;
}

.slick-prev:before {
  transform: rotate(315deg);
  border-top: 3px solid #fff !important;
  border-left: 3px solid #fff !important;
}
/* slick slider css */
